@page
@model Svetaine.Pages.Topic.Thread.Reply.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Replies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Replies.ThreadID" class="control-label"></label>
                <input asp-for="Replies.ThreadID" class="form-control" />
                <span asp-validation-for="Replies.ThreadID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Replies.UserID" class="control-label"></label>
                <input asp-for="Replies.UserID" class="form-control" />
                <span asp-validation-for="Replies.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Replies.Text" class="control-label"></label>
                <input asp-for="Replies.Text" class="form-control" />
                <span asp-validation-for="Replies.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Replies.Date" class="control-label"></label>
                <input asp-for="Replies.Date" class="form-control" />
                <span asp-validation-for="Replies.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
