@page
@model Svetaine.Pages.Topic.Thread.Reply.DeleteReplyModel
@{
}
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.UserID != Model.Reply.UserID || (Model.User.IsInRole("Moderator") == false))
{
    <h1 style="color:red"> Permission denied</h1>

}
else
{
    <h1 style="color:red"> Delete Reply</h1>
    <div>
        <hr />
        <dl class="row">
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Reply.Date)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Reply.Text)
            </dd>

        </dl>
    </div>
    <form method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>

}
<a asp-page="./Details" asp-route-id="@Model.Reply.ThreadID">Back to thread</a>
<hr />
