@page
@model Svetaine.Pages.Topic.Thread.DeleteThreadModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.UserID != Model.Thread.UserID || (Model.User.IsInRole("Moderator")==false))//patikrina ar user yra autorius arba moderatorius
{
    <h1 style="color:red"> Permission denied</h1>

}
else
{
    <h1 style="color:red"> Delete thread</h1>
    <div>
        <hr />
        <dl class="row">
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Thread.Date)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Thread.Text)
            </dd>

        </dl>
    </div>
    <form method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>

}
<a asp-page="./Details" asp-route-id="@Model.Thread.ID">Back to thread</a>
<hr />
<a asp-page="/Topic/Details" asp-route-id="@Model.Thread.TopicID">Back to Topic</a>
