@page
@model Svetaine.Pages.Topic.Thread.NewThreadModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>New Thread</h1>
<hr />
<a asp-page="/Topic/Details" asp-route-id="@Model.Topics.ID">Back to Topic</a>
<hr />
<form method="post" style="width:90%">
    <div>
        <label asp-for="Threads.Text" class="control-label"></label>
        <textarea asp-for="Threads.Text" class="form-control" style="font-size:18pt;height:420px;width:100%;"> </textarea>
        <span asp-validation-for="Threads.Text" class="text-danger"></span>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
